/* Reseta as margens e paddings de TODOS os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SpecialGothicCondensedOne-Regular';
    src: url('./font/pt-fonts-letras/Special_Gothic_Condensed_One/SpecialGothicCondensedOne-Regular.ttf');
}

h1, h2, h3, h4, h5, h6, p {
    color: black;
    font-size: 16px;
    margin: 0;
    font-family: 'SpecialGothicCondensedOne-Regular', sans-serif;
}

/* BANNER AZUL: Centraliza o texto vertical e horizontalmente */
.banner-logo-inicial {
    height: 100px;
    background-color: #0008ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-logo-inicial h1 {
    color: white; /* Texto em branco para contrastar com o fundo azul */
    font-size: 70px;
}

/* CONTAINER DO MENU */
.menu-navegacao-inicio {
    display: flex;
    justify-content: center;
    
    ;
}

/* A LISTA DE BOTÕES (Onde a mágica do Flexbox acontece) */
.bottons-navegacao-inicio {
    list-style: none;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;     
    background-color: #000000;
    gap: 19px;           
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    border-radius: 0px;
    width: 100%;
}

.bottons-navegacao-inicio li {
    display: flex;
}

/* LINKS / BOTÕES INTERNOS */
.bottons-navegacao-inicio a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 6px 16px;
    display: block;
    font-size: 18px;
    border-radius: 10px;
    white-space: nowrap;
}

.bottons-navegacao-inicio a:hover {
    border-color: #f1f1f4;
    border: 2px solid
}

.bottons-navegacao-inicio a.ativo {
    border: #0008ff 2px solid;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
}

.busca {
  display: flex;
  max-width: 400px;
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
}

.busca input {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.busca button {
  padding: 10px 16px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

